<!DOCTYPE html>

<!doctype html>
<html lang="en">
  <head>
    <title>Yassr Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>

   <nav class="navbar navbar-inverse">
       <div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <a class="navbar-brand" href="{% url 'index'  %}">Yassr's Blog</a>
           </div>
           <div class="collapse navbar-collapse" id="mynav">
                <ul class="nav navbar-nav">
                    <li ><a>About</a></li>
                    <li ><a href="https://github.com/Yassr">GitHub</a></li>
                    <li ><a href="https://www.linkedin.com/in/yassrshaar/">LinkedIn</a></li>
                </ul>
           </div>
       </div>
   </nav>

   <div class="container">
        {% load static %}

        <br />
        <a href="{% url 'post_detail' post.id %}"><h1>{{ post.title }}</h1></a>
        <hr />



            <br />
            <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ post.pub_date_pretty }}</h4>
            <br />
            <img src="{{ post.image.url }}" class="img-responsive center-block" style="max-height: 400px;"/>
            <br />
            {{ post.content}}
            <br /><br />

       <div id="disqus_thread"></div>
            <script>


            var disqus_config = function () {

            this.page.identifier = 'post-{{ post.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://yassrblog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>





   </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</body>
</html>